# US Golf Course Information Kiosk

Detailed information on golf courses with green fees range and tees, this complete golf courses database has 15,606 records across 7,891 cities over 53 states in the United States. Each record is comprised of address, street, phone number, zip code, hole, architect, year built, public/private, guest policy, credit card, golf season, range, rental club, pro in house, metal spikes okay, weekday, weekend, tee time welcomed, rental cart available, championship par/yards/slope/USGA, middle par/yards/slope/USGA and forward par/yards/slope/USGA

https://www.usabledatabases.com/database/golf-courses-in-us/

## Basis analysis of the input datasets

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sts

# Read the golf course dataset
input_csv = pd.read_csv("data/course.csv", delimiter=',', skipinitialspace=True)
input_csv.shape

(15606, 34)

In [2]:
# Display the input data for preview
input_csv

,id,city_id,title,street,address,zip_code,phone,hole,architect,year_built,...,championship_slope,championship_usga,middle_par,middle_yards,middle_slope,middle_usga,forward_par,forward_yards,forward_slope,forward_usga
0,1,1,Albertville Golf & Country Club,Country Club Rd,"Albertville, Alabama 35950",35950.0,(256) 878-4403,18.0,Leon Howard,1966,...,118,68.80,72,6068,117,68.00,72,5196,NaN,NaN
1,2,1,A. J. Jolly Golf Course,5350 S US Hwy 27,"Alexandria, Kentucky 41001",41001.0,(606) 635-2106,18.0,NaN,1962,...,118,69.30,71,5942,115,67.60,75,5418,118,70.30
2,3,2,Willow Point Country Club,3054 Willow Point Rd,"Alexander City, Alabama 35010",35010.0,(256) 234-2572,18.0,Thomas H. Nicol,1961,...,137,74.60,72,6631,135,72.20,73,5373,120,70.70
3,4,3,Alpine Bay Resort,9855 Renfroe Rd,"Alpine, Alabama 35014",35014.0,(256) 268-2920,18.0,"Robert Trent Jones, Sr.",1972,...,129,70.90,72,6518,126,69.90,72,5518,120,69.80
4,5,4,Maple Hills Golf,Hwy 75,"Altoona, Alabama 35952",35952.0,(205) 466-7600,9.0,Bill Ellison,1975,...,NaN,NaN,31,1800,NaN,NaN,31,1800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15601,15750,8219,Legion Town & Country Club,141 Airport Rd,"Thermopolis, Wyoming 82443",82443.0,(307) 864-5294,9.0,Don Brunk,1962,...,NaN,NaN,35,2966,111,33.90,37,2836,111,35.00
15602,15751,8220,Cottonwood Country Club,15th St,"Torrington, Wyoming 82240",82240.0,(307) 532-3868,18.0,NaN,NaN,...,NaN,NaN,72,6298,112,67.70,73,5344,112,69.20
15603,15752,8221,Cedar Pines Golf Course,2579 N Hwy 116,"Upton, Wyoming 82730",82730.0,(307) 468-2847,9.0,NaN,1984,...,NaN,NaN,36,3198,NaN,NaN,38,2521,NaN,NaN
15604,15753,8222,Wheatland Golf Club,1253 E Cole,"Wheatland, Wyoming 82201",82201.0,(307) 322-3675,9.0,NaN,1960,...,NaN,NaN,36,3064,119,33.95,36,2557,116,34.25
15605,15754,8223,Green Hills Municipal Golf Course,1455 Airport Rd,"Worland, Wyoming 82401",82401.0,(307) 347-8972,18.0,Local Designers,1961,...,113,69.30,72,6052,113,67.50,73,5104,95,65.50

In [3]:
# Check the number of unique records using groupby
csv_group = input_csv.groupby("title")
len(csv_group)

14058

In [4]:
# Check the number of unique records using groupby
csv_group = input_csv.groupby(["title","street"])
len(csv_group)

15603

In [5]:
# Check the number of unique records using groupby
csv_group = input_csv.groupby(["title","street","zip_code","phone","hole","architect"])
len(csv_group)

15606

## City ID

In [6]:
# Overview of city_id
input_csv["city_id"].value_counts()

1170    67
208     47
7146    43
6699    40
610     38
        ..
7743     1
7751     1
3661     1
5710     1
2049     1
Name: city_id, Length: 7891, dtype: int64

## Address

In [7]:
# Overview of address
input_csv["address"].value_counts()

Palm Desert, California 92211             19
Pinehurst, North Carolina 28374           19
Palm Desert, California 92260             18
Myrtle Beach, South Carolina 29579        16
La Quinta, California 92253               16
                                          ..
Friendship, Ohio 45630                     1
Columbus, Mississippi 39710                1
Colebrook, New Hampshire 03576             1
Milford, Connecticut 06460                 1
North Charleston, South Carolina 29420     1
Name: address, Length: 9821, dtype: int64

## Zip Code

In [8]:
# Overview of zip code
input_csv["zip_code"].value_counts()

28374.0    19
92260.0    19
29910.0    19
92211.0    19
92253.0    16
           ..
95521.0     1
32579.0     1
98665.0     1
77541.0     1
8.0         1
Name: zip_code, Length: 9430, dtype: int64

## Hole

In [9]:
# Overview of hole
input_csv["hole"].value_counts()

18.0    10841
9.0      4490
27.0        9
10.0        8
11.0        5
3.0         5
36.0        5
12.0        4
6.0         4
19.0        3
5.0         3
14.0        3
4.0         3
7.0         2
17.0        1
8.0         1
30.0        1
15.0        1
Name: hole, dtype: int64

## Architect

In [10]:
# Overview of architect
input_csv["architect"].value_counts()

Donald Ross                297
Robert Trent Jones, Sr.    180
Arthur Hills               139
Ted Robinson               125
Tom Bendelow               108
                          ...
Gene Clark                   1
Scott Boersma                1
Steve Dorkee                 1
Jerry Schwendinger           1
Jerry Von See                1
Name: architect, Length: 3253, dtype: int64

## Year Built

In [11]:
# Overview of year_built
input_csv["year_built"].value_counts()

1970    392
1960    388
1964    373
1965    356
1995    349
       ...
2005      1
fron      1
Rebu      1
1885      1
2006      1
Name: year_built, Length: 130, dtype: int64

## Public or Private

In [12]:
# Overview of public_private
input_csv["public_private"].value_counts()

Public                                                          7205
Private                                                         3907
Semi-Private                                                    3176
Resort                                                           863
Military                                                         183
Semi Private                                                      40
Courses                                                            2
Private--only accepting public play during the summer season       1
Semi-private                                                       1
&nbsp;                                                             1
Name: public_private, dtype: int64

## Guest Policy

In [13]:
# Overview of guest_policy
input_csv["guest_policy"].value_counts()

Open                                                  11033
Closed                                                 2174
Reciprocal                                             2024
open                                                      4
Welcome                                                   3
                                                      ...
Guest with member, green fee, reciprocal with othe        1
All Welcome                                               1
public welcome                                            1
Members Only                                              1
Available                                                 1
Name: guest_policy, Length: 78, dtype: int64

## Credit Card

In [14]:
# Overview of credit_card
input_csv["credit_card"].value_counts()

None                                                                           6251
VISA, MasterCard Welcomed                                                      4517
VISA, MasterCard, Amex, Discover Welcomed                                      1808
VISA, MasterCard, Amex Welcomed                                                1558
VISA, MasterCard, Discover Welcomed                                             897
Amex MasterCard Visa Discover card(s) Welcomed                                   38
VISA, MasterCard, Amex, Discover Accepted                                        36
VISA, MasterCard Accepted                                                        34
MasterCard Visa card(s) Welcomed                                                 33
Amex MasterCard Visa Discover  card(s) Welcomed                                  28
VISA, MasterCard, Amex Accepted                                                  21
MasterCard Visa  card(s) Welcomed                                                20
Discover Welcomed                                                                18
Amex MasterCard Visa card(s) Welcomed                                            17
VISA Welcomed                                                                    16
Amex MasterCard Visa  card(s) Welcomed                                           15
Yes                                                                              12
MasterCard Visa Discover card(s) Welcomed                                        11
VISA, MasterCard, Discover Accepted                                               8
MasterCard Visa Discover  card(s) Welcomed                                        7
Amex Welcomed                                                                     7
VISA, Discover Welcomed                                                           4
Mastercard, Visa                                                                  1
Amex,VISA, MasterCard, Discover Welcomed                                          1
MasterCard Welcomed                                                               1
VISA, MasterCard, AMEX Welcomed                                                   1
All Major Credit Cards Accepted                                                   1
Visa, MC, Discover, AmEx                                                          1
Visa, Mastercard                                                                  1
Amex, Discover Welcomed                                                           1
Welcomed                                                                          1
VISA, MasterCard                                                                  1
Visa, Discover or Mastercard accepted                                             1
Not Welcomed                                                                      1
VISA, MasterCard, AMEX\r\n                                         Welcomed       1
Year round                                                                        1
Amex, Mastercard, Visa, Discover                                                  1
VISA, MasterCard, Discover Welcomed, AMEX                                         1
VISA, Master Card &amp; Discover                                                  1
MasterCard, Amex Welcomed                                                         1
AMEX, VISA, MasterCard Welcomed                                                   1
VISA, MasterCard and Discover Accepted                                            1
VISA, MasterCard only                                                             1
No                                                                                1
V/MC                                                                              1
VISA, Amex Welcomed                                                               1
Visa / Mastercard / Discover                                                      1
Visa, Mastercard, Amex (not Discover)                                             1
Visa and Master                                                                   1
Name: credit_card, dtype: int64

## Golf Season

In [15]:
# Overview of golf_season
input_csv["golf_season"].value_counts()

year round                  9328
Open: 4/01 Closed: 11/01    1687
Open: 4/01 Closed: 10/31     579
Open: 3/01 Closed: 11/01     259
Open: 4/01 Closed: 11/30     253
                            ...
Open: 2/01 Closed: 12/24       1
Open: 6/15 Closed: 9/15        1
weather permitting             1
Open: 4/15 Closed: 12/10       1
1 Apr - 31 Oct                 1
Name: golf_season, Length: 415, dtype: int64

## Range

In [16]:
# Overview of range
input_csv["range"].value_counts()

Yes                                 11095
No                                   4281
Yes - 15 tees                           1
Yes - 45 tees, putting green            1
Yes - $5 per 1/2hrs                     1
Yes, range balls included in fee        1
Yes - 20 tees                           1
Yes - 150 tees                          1
Name: range, dtype: int64

## Rental Clubs

In [17]:
# Overview of rental_club
input_csv["rental_club"].value_counts()

Yes                    12515
No                      2854
Yes - $50                  2
Pro Line Sets - $30        1
Yes - $30                  1
Name: rental_club, dtype: int64

## Pro in House

In [18]:
# Overview of pro_in_House
input_csv["pro_in_House"].value_counts()

Yes    11325
No      4051
Name: pro_in_House, dtype: int64

## Metal Spikes okay

In [19]:
# Overview of metal_spikes_okay
input_csv["metal_spikes_okay"].value_counts()

No                                        10165
Yes                                        5200
Golf shoes must have non-metal spikes         2
Soft Spikes only.                             1
Not welcome                                   1
The use of metal spikes is prohibited.        1
No/Soft spike only facility                   1
Not Allowed                                   1
Name: metal_spikes_okay, dtype: int64

## Weekday

In [20]:
# Overview of weekday
input_csv["weekday"].value_counts()

$             13008
$$             1750
$$$             469
$$$$              4
$60 - $135        2
$40               2
$59               2
$40-$50           1
$70               1
20$               1
$27               1
$20-$30           1
$65 - $75         1
$200              1
$95               1
$35 - $60         1
$40 - $65         1
$55 - $89         1
$10               1
$60               1
$8-20             1
$85               1
$15               1
$64               1
27$               1
23$               1
$25 - $40         1
$-$$              1
$90               1
33$               1
$9-40             1
$48 - $90         1
$135              1
$25               1
Name: weekday, dtype: int64

## Weekend

In [21]:
# Overview of weekend
input_csv["weekend"].value_counts()

$             12399
$$             2286
$$$             528
&nbsp;           34
$$$$              4
$60 - $135        2
$90               2
$80               2
38$               2
$79               2
$30               1
$200              1
$50               1
$105              1
$40-$50           1
25$               1
$8-25             1
$9-45             1
$75 - $90         1
$37 - $75         1
$29               1
$12               1
$50 - $75         1
$60               1
$48 - $99         1
$15               1
$150              1
$30 - $40         1
$120              1
32$               1
$25-$35           1
$-$$              1
$65 - $99         1
Name: weekend, dtype: int64

## Tee Time Welcomed

In [22]:
# Overview of tee_time_welcomed
input_csv["tee_time_welcomed"].value_counts()

Yes                               11304
No                                 3951
&nbsp;Yes                           132
&nbsp;No                             20
&nbsp;                                8
Yes - up to 30 days in advance        1
Yes&nbsp;                             1
Resort Guests & Members Only          1
Name: tee_time_welcomed, dtype: int64

##  Rental Cart Available

In [23]:
# Overview of rental_cart_available
input_csv["rental_cart_available"].value_counts()

Yes                                         11867
Included in fee                              2790
No                                            738
Rental Cart fee is $15 for 18 holes             3
Included in Golf Fee                            2
Yes, included in fee                            2
Yes - $10                                       1
Yes, rental cart fee is $15 for 18 holes        1
Yes - included in fee                           1
&#160;Yes                                       1
Name: rental_cart_available, dtype: int64

##  Championship Par, Yards, Slope, USGA

In [24]:
# Overview of championship
championship_group = input_csv.groupby(["championship_par",
                                        "championship_yards",
                                        "championship_slope",
                                        "championship_usga"])
len(championship_group)

10552

In [25]:
# Overview of championship_par
input_csv["championship_par"].value_counts()

72          5903
71          2156
70          1078
36           620
35           324
73            89
34            66
69            52
27            51
60            36
62            31
33            29
68            28
31            27
32            25
30            22
61            19
29            19
65            18
54            17
66            14
64            13
37            13
67            12
63             9
28             6
59             5
57             5
58             3
56             3
74             2
25             2
&#160;71       1
12             1
9              1
11             1
38             1
75             1
44             1
55             1
Name: championship_par, dtype: int64

In [26]:
# Overview of championship_yards
input_csv["championship_yards"].value_counts()

6800    26
6700    24
6412    23
7001    23
7002    22
        ..
4838     1
4967     1
2864     1
3327     1
5350     1
Name: championship_yards, Length: 2512, dtype: int64

In [27]:
# Overview of championship_slope
input_csv["championship_slope"].value_counts()

128    497
126    473
130    452
125    444
129    433
      ...
66       1
80       1
162      1
0        1
83       1
Name: championship_slope, Length: 85, dtype: int64

In [28]:
# Overview of championship_usga
input_csv["championship_usga"].value_counts()

71.50    214
71.90    208
72.10    205
72.00    198
71.60    195
        ...
29.60      1
31.10      1
31.70      1
36.65      1
50.70      1
Name: championship_usga, Length: 338, dtype: int64

##  Middle Par, Yards, Slope, USGA

In [29]:
# Overview of middle
middle_group = input_csv.groupby(["middle_par",
                                        "middle_yards",
                                        "middle_slope",
                                        "middle_usga"])
len(middle_group)

14746

In [30]:
# Overview of middle_par
input_csv["middle_par"].value_counts()

72          6277
71          2415
36          1838
70          1327
35          1144
27           482
34           293
33           157
54           136
30           129
31           119
32           117
29           115
69           103
73            97
60            81
68            62
28            49
62            47
66            36
61            35
37            34
65            33
67            30
58            26
64            25
63            22
59            18
57            16
56            15
55            14
12             4
18             3
74             3
53             2
25             2
9              2
24             2
38             2
17             1
75             1
44             1
23             1
48             1
&#160;71       1
11             1
21             1
15             1
Name: middle_par, dtype: int64

In [31]:
# Overview of middle_yards
input_csv["middle_yards"].value_counts()

6002    32
6300    29
6347    28
6000    27
6200    26
        ..
5699     1
1405     1
6707     1
4918     1
5226     1
Name: middle_yards, Length: 3647, dtype: int64

In [32]:
# Overview of middle_slope
input_csv["middle_slope"].value_counts()

118    595
122    557
124    547
119    542
123    513
      ...
148      1
36       1
71       1
44       1
55       1
Name: middle_slope, Length: 98, dtype: int64

In [33]:
# Overview of middle_usga
input_csv["middle_usga"].value_counts()

70.00    273
69.50    272
70.10    236
69.20    233
69.90    233
        ...
36.80      1
38.10      1
53.00      1
29.47      1
50.70      1
Name: middle_usga, Length: 416, dtype: int64

##  Forward Par, Yards, Slope, USGA

In [34]:
# Overview of forward
middle_group = input_csv.groupby(["forward_par",
                                        "forward_yards",
                                        "forward_slope",
                                        "forward_usga"])
len(middle_group)

14803

In [35]:
# Overview of forward_par
input_csv["forward_par"].value_counts()

72              5627
36              1693
71              1642
73              1195
35               735
70               707
74               705
37               475
27               464
34               226
75               209
38               185
30               130
33               130
54               127
32               125
29               110
31               100
76                81
69                73
60                69
62                55
39                44
68                42
28                39
61                39
66                33
65                33
64                28
58                27
67                27
63                21
56                18
57                17
40                16
59                14
55                13
78                 7
77                 5
12                 4
18                 3
42                 3
43                 2
53                 2
25                 2
41                 2
9                  2
79                 2
&#160;71           1
&amp;nbSp;36       1
48                 1
17                 1
21                 1
11                 1
23                 1
24                 1
15                 1
Name: forward_par, dtype: int64

In [36]:
# Overview of forward_yards
input_csv["forward_yards"].value_counts()

5420    25
5323    22
5197    21
5000    21
5300    21
        ..
3330     1
1490     1
3949     1
531      1
2942     1
Name: forward_yards, Length: 3715, dtype: int64

In [37]:
# Overview of forward_slope
input_csv["forward_slope"].value_counts()

118          655
117          607
120          604
115          587
119          585
            ...
142            1
61             1
72             1
67             1
&#160;121      1
Name: forward_slope, Length: 86, dtype: int64

In [38]:
# Overview of forward_usga
input_csv["forward_usga"].value_counts()

70.00    216
70.20    199
71.00    192
70.10    187
70.40    178
        ...
40.00      1
35.05      1
68.42      1
36.35      1
50.70      1
Name: forward_usga, Length: 437, dtype: int64

#  City input dataset

In [39]:
# Read the city dataset
city_csv = pd.read_csv("data/city.csv", delimiter=',', skipinitialspace=True)
city_csv.shape

(7891, 5)

In [40]:
# Display the city data for preview
city_csv

        id  state_id           title  count           slug
0        1         1     Albertville      2    albertville
1        2         1  Alexander City      1  alexandercity
2        3         1          Alpine      1         alpine
3        4         1         Altoona      1        altoona
4        5         1       Andalusia      2      andalusia
...    ...       ...             ...    ...            ...
7886  8219        53     Thermopolis      1    thermopolis
7887  8220        53      Torrington      1     torrington
7888  8221        53           Upton      1          upton
7889  8222        53       Wheatland      1      wheatland
7890  8223        53         Worland      1        worland

[7891 rows x 5 columns]

In [41]:
# Check the number of unique records using groupby
csv_group = city_csv.groupby("title")
len(csv_group)

5956

In [42]:
# Check the number of unique records using groupby
csv_group = city_csv.groupby(["state_id","slug"])
len(csv_group)

7891

#  State input dataset

In [43]:
# Read the state dataset
state_csv = pd.read_csv("data/state.csv", delimiter=',', skipinitialspace=True)
state_csv.shape

(53, 4)

In [44]:
# Display the state data for preview
state_csv

    id                 title  count                slug
0    1               Alabama    272             alabama
1    2                Alaska     16              alaska
2    3               Arizona    308             arizona
3    4              Arkansas    179            arkansas
4    5            California    976          california
5    6              Colorado    223            colorado
6    7           Connecticut    177         connecticut
7    8              Delaware     39            delaware
8    9  District of Columbia      6  districtofcolumbia
9   10               Florida   1094             florida
10  11               Georgia    432             georgia
11  12                Hawaii     84              hawaii
12  13                 Idaho     92               idaho
13  14              Illinois    714            illinois
14  15               Indiana    459             indiana
15  16                  Iowa    380                iowa
16  17                Kansas    222              kansas
17  18              Kentucky    279            kentucky
18  19             Louisiana    156           louisiana
19  20                 Maine    117               maine
20  21              Maryland     86            maryland
21  22         Massachusetts    340       massachusetts
22  23              Michigan    933            michigan
23  24             Minnesota    484           minnesota
24  25           Mississippi    162         mississippi
25  26              Missouri    319            missouri
26  27               Montana     86             montana
27  28              Nebraska    180            nebraska
28  29                Nevada     58              nevada
29  30         New Hampshire     99        newhampshire
30  31            New Jersey    290           newjersey
31  32            New Mexico     50           newmexico
32  33              New York    596             newyork
33  34        North Carolina    569       northcarolina
34  35          North Dakota     90         northdakota
35  36                  Ohio    772                ohio
36  37              Oklahoma    188            oklahoma
37  38                Oregon    201              oregon
38  39          Pennsylvania    732        pennsylvania
39  40           Puerto Rico     17          puertorico
40  41          Rhode Island     50         rhodeisland
41  42        South Carolina    365       southcarolina
42  43          South Dakota     88         southdakota
43  44             Tennessee    294           tennessee
44  45                 Texas    849               texas
45  46                  Utah    111                utah
46  47               Vermont     65             vermont
47  48              Virginia    347            virginia
48  49        Virgin Islands      4       virginislands
49  50            Washington    289          washington
50  51         West Virginia    110        westvirginia
51  52             Wisconsin    509           wisconsin
52  53               Wyoming     48             wyoming

In [45]:
# Check the number of unique records using groupby
csv_group = state_csv.groupby("title")
len(csv_group)

53

In [46]:
# Check the number of unique records using groupby
csv_group = state_csv.groupby(["title","slug"])
len(csv_group)

53